@model IEnumerable<JobSearchApp.Models.JobCreated>

@{
    ViewData["Title"] = "Index";
}

<h1>Jobs Created by User</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobPostingID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobPostingID)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.JobCreatedID">Details</a> |
            </td>
        </tr>
}
    </tbody>
</table>
