@model JobSearchApp.Models.JobApplication

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>JobApplication</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Coverletter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Coverletter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobPosting)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobPosting.JobPostingID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Candidate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Candidate.UserID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Resume)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Resume.ResumeID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ApplicationID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
