@model IEnumerable<JobSearchApp.Models.JobPosting>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Company)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employer.UserID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.JobPostingID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.JobPostingID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.JobPostingID">Delete</a>
                <button onclick="share()">Share</button>
                <form asp-action="Apply">
                    <button onclick="apply()">Apply</button>
                </form>
                
            </td>

        </tr>
}
    </tbody>
</table>
